<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    <section id="change-password">
        <div class="container">
            <div class="change-password-header tab-bottom">
                <h2>Şifrənin dəyişilməsi</h2>
            </div>
            <div class="change-password-body">
                <h6>
                    Şifrəni dəyişmək üçün hazırkı və yeni şifrələri aşağıdakı xanalara daxil edin.
                </h6>
                <div class="change-input">
                    <p>
                        Hazırkı şifrə
                    </p>
                    <input type="text" class="login-input">
                </div>
                <div class="change-input">
                    <p>
                        Yeni şifrə
                    </p>
                    <input type="text" class="login-input">
                </div>
                <div class="change-input">
                    <p>
                        Yeni şifrə təkrarən
                    </p>
                    <input type="text" class="login-input">
                </div>

                <button class="enter">Dəyiş</button>
            </div>
        </div>
    </section>

    {{> common/footer }}

</body>

</html>