<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}

    <section id="homepage">
        <div class="container">
            <div class="carousel-parent-1">
                <div class="carousel-title">
                    <h3>
                        VIP ELANLAR
                    </h3>
                    <div class="d-flex align-items-center">
                        <a href="" class="more">Daha çox</a>
                        <div class="homepage-carousel-nav"></div>
                    </div>
                </div>
                <div class="homepage-carousel owl-carousel owl-theme">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                {{> section/post-carousel}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-parent-2">
                <div class="carousel-title">
                    <h3>
                        Xəbərlər
                    </h3>
                    <div class="d-flex align-items-center">
                        <a href="" class="more">Daha çox</a>
                        <div class="homepage-carousel-nav2"></div>
                    </div>
                </div>
                <div class="homepage-carousel owl-carousel owl-theme">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>

                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                {{> section/post-news}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="blog-section">
                <h3>
                    Bina.az - Ən son ev elanlari sayti
                </h3>
                <p>Azərbaycanın ən böyük elan bazası olan Bina.az saytına daxil olmaqla, daşınmaz əmlak bazarının ən son
                    və ən yeni alqı-satqı və kirayə elanları ilə tanış olmaq olar. Burada alıcı və satıcı üçün çox rahat
                    interfeys və axtarış sistemi işləyir. Səhifədə Bakının rayonlarında satılan mənzillər,
                    evlər/villalar, bağlar, ofislər, qarajlar, torpaqlar, obyektlər barədə geniş məlumat əldə etmək
                    olar. İstifadəçilərin rahatlığı üçün nəzərdə tutulmuş filtrlər vasitəsi ilə siz istənilən axtarış
                    kriteriyalarınızı sayta daxil edərək, ucuz və ya lüks, təmirli və ya "pod mayak", şəhərin mərkəzində
                    və ya kənar ərazilərdə mənzil, ev, ofislərlə tanış ola bilərsiniz. Azərbaycanın daşınmaz emlak
                    kataloqunu Bina.az saytinda tapacaqsınız! Ən böyük ev elanlari sayti olan Bina.az saytında Siz çox
                    tez bir zamanda və rahat şəkildə istədiyiniz, zövqünüzə uyğun ev, mənzil, obyekt və ya başqa bir
                    əmlakı tapa bilərsiniz. Sadəcə bina.az saytına daxil olun. Yuxarıda yerləşən seçim panelindən
                    lazımlı parametrlərini seçin. Məsələn, yeni və yaxud köhnə tikili, bir, iki, üç və daha çox otaqlı,
                    mənzil və ya həyət evi/villa, kiraye evler və digər. Siz təkcə evləri yox, hətta ofis, obyekt və ya
                    torpaq sahələrini də axtara bilərsiniz. Bundan əlavə, məbləğə görə də seçim edə bilərsiniz.</p>

                <h3>
                    Bina.az saytında elan yerləşdirilməsi
                </h3>
                <p>
                    Satılıq əmlakınız var? Siz Bina.az saytında elanınızı asanlıqla yerləşdirə bilərsiniz. Bunun üçün
                    əmlakın şəkillərini çəkin. Çalışın şəkillər keyfiyyətli olsun və yaxşı rakursdan çəkilsin. Əmlakın
                    bütün otaqların, hətta mətbəx, hamam, balkonun da şəkillərin olması məsləhətlidır. Əmlakın təsvirini
                    verin. Yerləşməsi, tam ünvanı, mərtəbə, sahəsi, otaq sayı, təmirini və digər məlumatı ətraflı yazın.
                    Əlaqə məlumatınızı daxil edin. Əlaqə məlumatınızı – telefon nömrənizi və email ünvanınızı daxil
                    etdikdə, diqqətli olun! Məlumatı daxil edib, yenidən yoxlayın - əlaqə məlumatı dəyişilmir. Elan
                    saytda dərc olunduqdan sonra Siz əlaqə məlumatınızı düzəliş edə bilmərsiniz!
                </p>
                <h3>İndi evlərin satışı çox rahat oldu!</h3>
                <p>Emlak birjasinda en populyar emlak saytlarindan biri olan Bina.az sayti sizə daşınmaz əmlak bazarında
                    olan bütün təklflərini sizə təqdim edəcək. Bina.az saytında pulsuz elan yerləşdirmək çox asandır!
                    Sayta daxil olub "ELAN YERLƏŞDİRİN" düyməsinə sıxaraq, satmaq istədiyiniz daşınmaz əmlak haqqında
                    əsas məlumatları daxil edirsiz və bir neçə dəqiqədən sonra sizin elanınızı minlərlə istifadəçi
                    görür. 1, 2, 3, 4, 5 otaqli yeni tikililer ve kohne tikililer. Mənzillər, Evlər / Villalar, Kiraye
                    evler, Bağlar, Ofislər, Qarajlar, Torpaq, Obyektlər. Abşeron, Nərimanov, Sabunçu, Xətai, Binəqədi,
                    Nəsimi, Suraxanı, Xəzər, Nizami, Qaradağ, Səbail, Yasamal rayonlarında evlərin alqı-satqısı və
                    kirayəsi. Bütün əmlak bazari Bina.az-da.
                </p>
                <a href="">
                    Bakida kiraye evler
                </a>
                <p>Kiraye axtarirsiniz ve ya evinizi kiraye vermek isteyirsiniz? Bunu Siz Bina.az-da edə bilərsiniz.</p>
                <h3>Ucuz evlərin alqı satqısı</h3>
                <p>Ucuz ev axtarırsız? Bina.az saytına daxil olun, qiymət dərəcəsini daxil edin və əks olunmuş
                    nəticələrin içində sizə ən uyğün daşınmaz əmlakı seçin.
                </p>
            </div>

            <div class="pagination-section">
                {{> section/pagination }}
            </div>
        </div>
    </section>

    {{> common/footer }}

</body>

</html>