<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}

    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="login-section">
                        <div class="login-header">
                            <h2>Şəxsi hesaba giriş</h2>
                        </div>
                        <div class="login-content">
                            <input type="text" class="login-input" placeholder="Email">
                            <input type="text" class="login-input" placeholder="Şifrə">
                            <button class="enter">Daxil olmaq</button>
                            <a href="" class="register">Qeydiyyat</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="login-about">
                        <h3>
                            Xoş gəldiniz!
                        </h3>
                        <p>Şirkətlər üçün təqdim olunan bütün xidmətlərdən istifadə etmək üçün sistemə daxil
                            olmalısınız.</p>
                        <p>Xahiş edirik qeydiyyat zamanı aldığınız email və şifrənizi daxil edin.</p>
                        <p>
                            Şəxsi hesabınıza giriş və ya qeydiyyat ilə bağlı suallarınızı və müraciətlərinizi <a
                                href="">bina@bina.az </a> ünvanına yazın yaxud <strong> (012) 599-08-02</strong> əlaqə
                            telefonuna zəng edin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> common/footer }}

</body>

</html>