<a class="post-carousel">
    <div class="mini-carousel">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="../assets/house_1.jpeg" alt="">
            </div>
            <div class="item">
                <img src="../assets/house_3.jpg" alt="">
            </div>
            <div class="item">
                <div class="mini-layer">
                    <div class="layer-content">
                        <p>Daha 34 şəklə bax</p>
                    </div>
                </div>
                <img src="../assets/house_3.jpg" alt="">
            </div>
        </div>
        <button class="bookmark">
            <i class="fas fa-bookmark"></i>
        </button>
        <div class="price">
            <p>
                120 000 AZN
            </p>
        </div>
        <div class="preview-text">
            <div class="title">
                <h2>
                    Sulutəpə
                </h2>
                <p>
                    <span>4 otaqlı</span>
                    <span>70 m²</span>
                    <span class="pl-3">1/5 mərtəbə </span>
                </p>
            </div>
            <p class="data">
                Bakı, dünən 17:20
            </p>
        </div>
    </div>
</a>