<footer>
    <div class="container">
        <div class="footer-top">
            <a href="">İstifadəçi razılaşması</a>
            <a href="">Haqqımızda</a>
            <a href="">Saytın xəritəsi</a>
            <a href="">Reklam yerləşdirmək</a>

            <div class="contact">
                    <span>Əlaqə:</span>
                    <a href=""> bina@bina.az</a>
                    <span>/</span>
                    <a href=""> (012) 599-08-02</a>
                    <span>/</span>
                    <a href=""> (012) 599-08-02</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
Copyright © 2008-2020 Bina.Az</p>
        </div>
    </div>
</footer>