<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-m">
                <div class="social">
                    <div class="social-icon">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    {{!-- <div class="social-icon">
                    <i class="fab fa-twitter-square"></i>
                </div> --}}
                    <div class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="social-icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
                <div class="login">
                    <div class="login-content"> <i class="fas fa-user"></i> <span>Giriş</span><i
                            class="fas fa-angle-down mt-2"></i></div>
                    <div class="dropdown-content">
                        <a href="">Şəxsi hesab</a>
                        <a href="">Çıxış</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-middle-m">
                <a href="#" class="logo">
                    <img src="../assets/nuev.jpeg" alt="">
                </a>
                <a href="" class="add-item">
                    <img src="../assets/plus-green.png" alt="">
                    Elan yerləşdir
                </a>
                <div></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-m">
                <div class="search-selectbox">
                    <div class="selectHolder" style="width: 100px;">
                        <select>
                            <option value="">Kirayə</option>
                            <option value="">Alış</option>
                        </select>
                    </div>
                </div>
                <div class="search-selectbox">
                    <div class="selectHolder" style="width: 130px;">
                        <select>
                            <option value="">Mənzil</option>
                            <option value="">Yeni tikili</option>
                            <option value="">Köhnə tikili</option>
                            <option value="">Ev / villa</option>
                            <option value="">Bağ</option>
                            <option value="">Ofis</option>
                            <option value="">Qaraj</option>
                            <option value="">Torpaq</option>
                            <option value="">Obyekt</option>
                        </select>
                    </div>
                </div>
                <div class="search-selectbox">
                    <div class="selectHolder" style="width: 110px;">
                        <select>
                            <option value="">1 otaqlı</option>
                            <option value="">2 otaqlı</option>
                            <option value="">3 otaqlı</option>
                            <option value="">4 otaqlı</option>
                            <option value="">5 0taqlı</option>
                            <option value="">6 otaqlı</option>
                            <option value="">7 otaqlı</option>
                            <option value="">8 otaqlı</option>
                        </select>
                    </div>
                </div>
                <div class="search-box">
                    <div class="search-price">
                        <h6>Qiymət, AZN</h6>
                        {{!-- <span>sds</span> --}}
                    </div>
                    <div class="search-click">
                        <div class="input-m">
                            <input type="number" placeholder="min." min="0">
                            <input type="number" placeholder="maks." min="0">
                        </div>
                    </div>
                </div>
                <div class="search-selectbox">
                    <div class="selectHolder select-scroll" style="width: 150px;">
                        <select>
                            <option value="">İstənilən şəhər</option>
                            <option value="">Ağcabədi</option>
                            <option value="">Ağsu</option>
                            <option value="">Bakı</option>
                            <option value="">Balakən</option>
                            <option value="">Cəlilabad</option>
                            <option value="">Gəncə</option>
                            <option value="">Goranboy</option>
                            <option value="">Balakən</option>
                            <option value="">Cəlilabad</option>
                            <option value="">Gəncə</option>
                            <option value="">Goranboy</option>
                            <option value="">Balakən</option>
                            <option value="">Cəlilabad</option>
                            <option value="">Gəncə</option>
                            <option value="">Goranboy</option>
                            <option value="">Balakən</option>
                            <option value="">Cəlilabad</option>
                            <option value="">Gəncə</option>
                            <option value="">Goranboy</option>
                        </select>
                    </div>
                </div>
                <div class="search-cache">
                    <button class="cache-header">Ətraflı axtarış</button>
                    <div class="cache-body">
                        <div class="cache-inner-head">
                            <div>
                                <h6>
                                    SAHƏ, M²
                                </h6>
                                    <div class="input-m">
                                        <input type="number" placeholder="min." min="0">
                                        <input type="number" placeholder="maks." min="0">
                                    </div>
                            </div>

                            <p>
                                35364 elan yerləşdirilib
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>